@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-color: #67e8f9;
$text-color: #fafafa;
$bg-color: #18181b;

:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
}

* {
  scroll-behavior: smooth;
}

.font-sans {
  font-family: var(--font-sora, sans);
}
.font-code {
  font-family: var(--font-code);
}
.font-grotesk {
  font-family: var(--font-grotesk);
}
.bg-conic-gradient {
  background: conic-gradient(
    from 225deg,
    #ffc876,
    #79fff7,
    #9f53ff,
    #ff98e2,
    #ffc876
  );
}

.fade-up {
  animation: fadeUp 0.9s ease-in-out 0.7s forwards;
}

.scroll-design::-webkit-scrollbar {
  width: 8px;
}
.scroll-design::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $primary-color;
  display: flex;
}
