@import "./variables";
@import "./animations";
@import "./customs";

@mixin rotate($index: 360) {
  @for $i from 0 through $index {
    .rotate-#{$i} {
      transform: rotate(-#{$i}deg);

      img {
        transform: rotate(#{$i}deg);
      }
    }
  }
}

@include rotate(360);

body {
  background-color: $bg-color;
  color: $text-color;
  min-width: 100vw;
  max-width: 100vw;
}
@mixin mobile {
  @media (min-width: $media) {
    @content;
  }
}
